@import 'mixins/reset';
@import 'mixins/variable';
@import 'mixins/font';
@import 'mixins/position';
@import 'mixins/prefix';
@import 'mixins/animation';
@import 'mixins/default';


.site-title{
    position: relative;
    margin-bottom: -4px;
    img{
        height: 300px;
        width: -webkit-fill-available;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), lightgray 50% / cover no-repeat;
    }
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $white;
        text-align: center;
        @extend %text-header;
    }
}